@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*
{
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
}

.flex-container
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./background.jpg'), 
                #fd9600;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    /* background: #fd9600; */
    color: #f8ebe3;
}

.flex-column
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content
{
    /* border: solid black; */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content h3
{
    font-size: 40px;
    letter-spacing: 5px;
}

.content h1
{
    font-size: 125px;
    letter-spacing: 10px;
}

.time-format
{
    width: 280px;
    display: flex;
    justify-content: space-around;
    letter-spacing: 2px;
    font-size: 25px;
}

#day, #hour, #second, #minute
{
    font-size: 30px;
    letter-spacing: 5px;
}

@media only screen and (min-width: 600px)
{
    .content{
        max-width: 80%;
    }

    .content h1{
        font-size: 175px;
    }

    .content h3{
        font-size: 60px;
    }
}